@import './Theme.css';

.content-body {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - var(--nav-height) - var(--footer-height) - 4px);
}

.body-intro {
}

.body-mid-title {
    position: relative;
    text-decoration: none;
    font-size: 60px;
}

.body-text {
    
}

.profile-image {
    position: relative;
    width: 30%;
    min-width: 50px;
    left: 25%;
    /* margin-left: 200px; */
}

.sticky-email {
    position: fixed;
    bottom: calc(var(--footer-height) + 40px);
    right: 40px;
    cursor: pointer;
}

.email-link {
    text-decoration: none;
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: var(--light-grey);
    overflow: hidden;
}

.email-link:hover {
    color: var(--grey);
}