@import './Theme.css';

.navbar {
    background: var(--slate);
    width: 100%;
    height: var(--nav-height);
    display: flex;
    position: relative;
    border-bottom: var(--border-trim);
    z-index: 100;
}

.navbar-container {
    display: flex;
    position: static;
    width: 100%;
}

.navbar-logo {
    margin-left: 50px;
    margin-right: 20px;
    font-size: var(--fz-heading);
    text-decoration: none;
    color: var(--grey);
}
.navbar-break {
    padding-left: 10px;
    margin-top: 25px;
    height: 100px;
    border-left: 2px solid var(--bronze);
}

.navbar-title {
    padding-top: 80px;
    height: 50%;
    font-size: var(--fz-xl);
    color: var(--grey);
}

.navbar-links {
    display: flex;
    width: 400px;
    padding-top: 65px;
    right: 20px;
    position: absolute;
}

.navbar-link-item {
    width: 100%;
}

.navbar-link-item::marker {
    color: transparent;
}

.nav-link {
    font-size: var(--fz-xl);
    color: var(--grey);
    text-decoration: none;
    height: 30px;
    padding: 5px;
    transition: 0.2s;
    
}

.nav-link:hover{
    color: var(--light-grey);
}

.nav-link-active {
    font-size: var(--fz-xl);
    color: var(--bronze);
    border-bottom: 3px solid var(--salmon);
    text-decoration: none;
    height: 30px;
    padding: 5px;
    transition: 0.2s;
}

.nav-link-active:hover {
    color: var(--light-bronze);
    border-bottom: 3px solid var(--light-salmon);
}